
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/_iFrameLayout.cshtml";
    ViewBag.tableName = "tb_wareHousing";
}
<link rel="stylesheet" href="~/Content/css/font-awesome.min.css" />
<div class="row" style="margin-left:40px; margin-top:10px;margin-bottom:10px;">
    总价: <span><i class="fa fa-cny"></i></span> <span id="price"></span>
</div>
<script type="text/javascript">
    $(function () {
        $("#tb_wareHousing").bootstrapTable({
            contentType: "application/x-www-form-urlencoded",
            toolbar: "#toolbar",
            idField: "Id",
            method: 'GET',
            clickToSelect: true,
            cache: false,
            striped: true,
            showColumns: true,
            uniqueId: "Id",
            showExport: true,
            exportDataType: 'all',
            height: 450,
            columns: [{
                checkbox: true
            },
            {
                field: "Id",
                title: "进货项编号"
            },
            {
                field: "GoodsId",
                title: "商品编号",
                editable: {
                    type: "text",
                    title: "商品编号",
                    validate: function (v) {
                        if (isNaN(v))
                            return "请输入整数";
                        var error = "";
                        $.ajax({
                            url: '/Goods/HasGoods',
                            async: false,
                            type: "get",
                            data: {GoodsId:v},
                            success: function (data, status) {
                                if (data == false) {
                                    
                                    error = "不存在这样的商品";  
                                }
                            },
                            error:function()
                            {
                                error =  "数据有误"
                            }
                        });
                        if(error!="")
                        {
                            return error;
                        }
                    }
                }
            },
            {
                field: "Name",
                title: "进货商品",
                editable: {
                    type: 'select',
                    title: '进货商品',
                    source: function () {
                        var result = [];
                        $.ajax({
                            url: '/Goods/GetGoodsInfo',
                            async: false,
                            type: "get",
                            data: {},
                            success: function (data, status) {
                                $.each(data, function (key, value) {
                                    result.push({ value: value.Id, text: value.Title });
                                });
                            }
                        });
                        return result;
                    }
                }
            },
            {
                field: "PurchasePrice",
                title: "进价",
                editable: {
                    type: 'text',
                    title: '进价',
                    validate: function (v) {
                        var r = /^\d+(\.\d{1,2})?$/
                        if (!r.test(v))
                            return "请输入两位以内的小数";
                    }
                }
            },
            {
                field: "WareHouseId",
                title: "进货仓库",
                editable: {
                    type: 'select',
                    title: '进货仓库',
                    source: function () {
                        var result = [];
                        $.ajax({
                            url: '/WareHouse/GetWareHouseInfo',
                            async: false,
                            type: "get",
                            data: {},
                            success: function (data, status) {
                                $.each(data, function (key, value) {
                                    result.push({ value: value.Id, text: value.Title });
                                });
                            }
                        });
                        return result;
                    }
                }
            },
            {
                field: "Quantity",
                title: "进货数量",
                editable: {
                    type:"text",
                    title: "进货数量",
                    validate: function (v) {
                        var r = /^\d+$/;
                        if (!r.test(v))
                            return "商品进货数量必须是整数";
                    }
                }
            }
            ]
            ,
            onEditableSave: function (field, row, oldValue, $el) {
                /*如果行数据的编号小于1的话，说明正在编辑新建的数据项，暂时不需要进行保存*/
                $("#tb_wareHousing").bootstrapTable("resetView");
                //同步修改进货项的商品编号和商品名称
                if (field == "GoodsId" || field == "Name")
                {
                    if (field == "GoodsId")
                        row.Name = row.GoodsId;
                    else
                        row.GoodsId = row.Name;
                    $("#tb_wareHousing").bootstrapTable('updateRow', { index: row.Id, row: row })
                }
                if (field == "PurchasePrice" || field == "Quantity")
                    updatePrice();
            }
        });
    });

    table = $("#tb_wareHousing");
    add_button = $("#btn_add");
    var nextItemId = -1;
    add_button.click(function () {
        table.bootstrapTable("insertRow", { index: 0, row: { Id: nextItemId, GoodsId: "", Name: "", PurchasePrice: "", WareHouseId: "", Quantity: "" } });
        nextItemId = nextItemId - 1;
    });
    var del_button = $("#btn_delete");
    del_button.click(function () {
        var rowSelected = table.bootstrapTable('getSelections');
        toremoveItemId = [];
        for (var i = 0; i < rowSelected.length; i++) {
            toremoveItemId.push(rowSelected[i].Id);
        };
        table.bootstrapTable('remove', { field: 'Id', values: toremoveItemId });
    });

    var save_button = $("#btn_save");
    save_button.click(function () {
        table.bootstrapTable('checkAll');
        var rowSelected = table.bootstrapTable('getSelections');
        for(var i =0;i<rowSelected.length;i++)
        {
            row = rowSelected[i];
            for(var key in row)
            {
                if(row[key] == "")
                {
                    toastr.error("存在无效的数据，请进行检查！");
                    table.bootstrapTable('uncheckAll');
                    return;
                }
            }
        }

        $.ajax({
            type: "Post",
            url: "/Storage/StoreIntoWareHouse",
            data: { wareHousingItems: rowSelected },
            success: function (data, status) {
                if (data == true) {
                    toastr.success("商品入库成功!");
                    table.bootstrapTable('removeAll');
                }
                else
                    toastr.error("商品入库失败，请稍后重试！");
            },
            error:function()
            {
                toastr.error("商品入库失败，请稍后重试！")
            }
        });
        
    });

    var priceArea = $("#price");
    function updatePrice()
    {
        var totalPrice  = 0;
        var data = table.bootstrapTable("getData", { useCurrentPage: true });
        for (var i = 0; i < data.length; i++) {
            var row = data[i];
            if(row.PurchasePrice!=""&&row.Quantity!="")
            {
                price = parseFloat(row.PurchasePrice);
                quantity = parseFloat(row.Quantity);
                totalPrice += price * quantity;
            }
        }
        totalPrice = Math.round(totalPrice*100)/100.0;
        priceArea.text(totalPrice);
    }
</script>

