<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_iFrameLayout</title>
    @Styles.Render("~/Content/bootstrap-table")
    @Scripts.Render("~/bundles/bootstrap-table")
    <link rel="stylesheet" href="~/Content/css/toastr.css" />
    <script src="~/Content/js/toastr.min.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
